<h1>This is todos list</h1>

<h2>Todos: <%= Todo.count%> </h2>

<%= form_with url: "/todos", method: :post do%>
  <input type="text" name="todo_text" placeholder="Type todo here...">
  <input type="date" name="due_date">
  <button type="submit"> Add </button>
<% end %>

<%= render partial: "todos", locals: {name: "Over Due", todos: Todo.over_due} %>
<%= render partial: "todos", locals: {name: "Due today", todos: Todo.due_today} %>
<%= render partial: "todos", locals: {name: "Due Later", todos: Todo.due_later} %>
