<h1>This is todos list</h1>

<h2>Todos: <%= Todo.count%> </h2>

<%= form_with url: "/todos", method: :post do%>
  <input type="text" name="todo_text" placeholder="Type todo here...">
  <input type="date" name="due_date">
  <button type="submit"> Add </button>
<% end %>

<ul>
    <% Todo.order(:id).each do |todo| %>
      <li class="todo">

        <%= form_with url: "/todos/#{todo.id}", method: :put do %>
          <%= check_box_tag :completed, "completed", todo.completed ? true : false, onclick: "this.form.submit()"  %>
        <% end %>

        <p class="">
          <%= todo.id %>
        </p>

        <p class="todo-text <%= todo.completed ? 'strike' : '' %>">
          <%= todo.todo_text %>
        </p>

        <% unless todo.due_today? %>
          <p class="due-date">
            <%= todo.due_date.to_s(:short) %>
          </p>
        <% end %>

        <%= form_with url: "todos/#{todo.id}", method: :delete do %>
          <%= button_tag :Delete, type: "submit" %>
        <% end %>

      </li>
    <% end %>
  </ul>
