<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodoManagerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%if @current_user%>
    <p class="user-name-heading">Welcome: <%= @current_user.first_name %>  </p>
  <% end %>
    <%= yield %>
  </body>
</html>
